{% extends 'base.html' %}

{% block title %}مسلم {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12 offset-md-2">
        <h2 class="text-center">الإمام مسلم</h2>
        <p class="text-justify">
            صحيح مسلم ويسمّى أيضاً: «المسند الصحيح المختصر من السنن بنقل العدل عن العدل عن رسول الله ﷺ» جمعه الإمام أبوالحسين مسلم بن الحجاج القشيري النيسابوري، أحد أئمة الحديث ولد بنيسابور سنة 204 هـ، جمع فيه ما صح عنده عن رسول الله قال النووي: «سلك فيه طرقا بالغة في الاحتياط والإتقان والورع والمعرفة، لا يهتدي إليها إلا أفراد في الأعصار». وجمع فيه الأحاديث المتناسبة في مكان واحد، ويذكر طرق الحديث وألفاظه مرتبا على أبواب، لكنه لا يذكر التراجم خوفا من زيادة حجم الكتاب، وقد وضع تراجمه جماعة من شراحه ومن أحسنها تراجم النووي.
            عدد أحاديثه بالمكرر (7275) خمسة وسبعون ومائتان وسبعة آلاف حديث، وبحذف المكرر نحو (4000) أربعة آلاف حديث. وقد اتفق جمهور العلماء أو جميعهم على أنه من حيث الصحة في المرتبة الثانية بعد صحيح البخاري.
            
            نص الإمام مسلم في مقدمة الصحيح على أن سبب تأليفه له هو تلبية طلب وإجابة سؤال حيث قال:
            
               الكتب الستة	فإنك يرحمك الله بتوفيق خالقك ذكرت أنك هممت بالفحص عن تعرف جملة الأخبار المأثورة عن رسول الله ﷺ في سنن الدين وأحكامه، وما كان منها في الثواب، والعقاب، والترغيب، والترهيب وغير ذلك من صنوف الأشياء بالأسانيد التي بها نقلت وتداولها أهل العلم فيما بينهم، فأردت -أرشدك الله- أن توقف على جملتها مؤلفة محصاة، وسألتني أن ألخصها لك في التأليف بلا تكرار يكثر، فإن ذلك -زعمت مما يشغلك عما له قصدت من التفهم فيها والاستنباط منها، وللذي سألت أكرمك الله حين رجعت إلى تدبره وما تؤول به الحال إن شاء الله عاقبة محمودة ومنفعة موجودة، وظننت حين سألتني تجشم ذلك أن لو عزم لي عليه وقضي لي تمامه كان أول من يصيبه نفع ذلك إياي خاصة قبل غيري من الناس لأسباب كثيرة يطول بذكرها الوصف، إلا أن جملة ذلك أن ضبط القليل من هذا الشان وإتقانه أيسر على المرء من معالجة الكثير منه ولا سيما عند من لا تمييز عنده من العوام إلا بأن يوقفه على التمييز غيره فإذا كان الأمر في هذا كما وصفنا فالقصد منه إلى الصحيح القليل أولى بهم من ازدياد السقيم.	   الكتب الستة
            وقد ذكر الخطيب البغدادي أن مسلما جمع الصحيح لأبي الفضل أحمد بن سلمة النيسابوري تلميذه وصاحبه، فقال في ترجمة أحمد في الموضع السابق: «ثم جمع له مسلم الصحيح في كتابه.» فبين الخطيب بهذا ما أبهمه الإمام مسلم في مقدمته. وقد انتقى الإمام مسلم أحاديث صحيحه من بين ألوف الأحاديث، فقد جاء عنه أنه قال: «صنفت هذا المسند الصحيح من ثلاثمئة ألف حديث مسموعة.»، وقد مكث في تأليفه قرابة خمس عشرة سنة أو تزيد.        </p>
      </div>
    </div>
  </div>

    <div class="container mt-5"> <!-- Container with top margin -->
        <h2 class="mb-4 text-right text-muted">أحاديث مسلم</h2>
        
        <div class="row">

            {% for d in data %}
            {% if d.narrator == 'مسلم' %}
            <div class="col-md-4 mb-4"> <!-- Responsive columns with bottom margin -->
                <div class="card h-100 text-right"> <!-- Card component -->
                    <div class="card-body">
                        <h5 class="card-title">الراوي: {{ d.narrator }}</h5>
                        <p class="card-text">{{ d.text }}</p>
                        <p class="card-text">حديث {{ d.hadithstype }} </p>
       
                    <p> <a href="{% url 'Hadiths:display_hadiths' id=d.id %}">الشرح</a></p>
          
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-12 offset-md-2 text-right">
            <h5>المصادر</h5>
            <ul>
              <li><a href="https://ar.wikipedia.org/wiki/%D8%B5%D8%AD%D9%8A%D8%AD_%D9%85%D8%B3%D9%84%D9%85">صحيح مسلم - ويكيبيديا</a></li>
              <li><a href="https://waqfeya.com/books/%D8%B5%D8%AD%D9%8A%D8%AD-%D9%85%D8%B3%D9%84%D9%85-%D8%B7-%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D8%B1%D8%A9--%D8%AA%D8%B1%D9%83%D9%8A%D8%A7-b4b69693b0eb4084ae9bf98faac85b0d"> 
                صحيح مسلم (ط. العامرة - تركيا)

             </a></li>

            </ul>
          </div>
        </div>
      </div>
    {% endblock %}