{% extends 'base.html' %}

{% block title %}جميع الأحاديث{% endblock %}

{% block content %}

    <div class="container mt-5"> <!-- Container with top margin -->
        <h1 class="mb-4 text-center">أحاديث نبوية</h1>
        <div class="row">
            {% for d in data %}
            <div class="col-md-4 mb-4"> <!-- Responsive columns with bottom margin -->
                <div class="card h-100 text-right"> <!-- Card component -->
                    <div class="card-body">
                        <h5 class="card-title">الراوي: {{ d.narrator }}</h5>
                        <p class="card-text">{{ d.text }}</p>
                        <p class="card-text">حديث {{ d.hadithstype }} </p>
                        
                        <p> <a href="{% url 'Hadiths:display_hadiths' id=d.id %}">الشرح</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}


