{% extends 'base.html' %}

{% block title %}الصفحة الرئيسة{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12 offset-md-1">
        <h2 class="text-right">كتب الحديث الستة</h2>
        <p class="text-justify">
          كتب الحديث الستة، أو كتب الأمهات السِّت، هو مصطلح يطلق على ستة كتب حديث عند علماء أهل السنة والجماعة. كانت خمسة، فألحق بها كتاب محمد بن ماجه فأصبحت تعرف بالكتب الستة، وكان ذلك على يد محمد بن طاهر المقدسي (ت 507 هـ)، صاحب كتاب شروط الأئمة الستة. وسار على منواله الحافظ عبد الغني المقدسي المتوفى في سنة 600 هـ، فضمن كتابه الكمال في أسماء الرجال رجال محمد بن ماجه كأحد الستة، ثم درج على هذا أصحاب كتب الأطراف وكتب الرجال، ومرجع تقديم كتاب ابن ماجه على كتاب الموطأ لـلإمام مالك، إلا أن زوائد ابن ماجه على الكتب الخمسة كثيرة، بينما نجد أحاديث الموطأ موجودة في الكتب الخمسة.
        </p>
        <p class="text-justify">
          وقد قدم الموطأ على سنن ابن ماجه كل من أبي الحسن أحمد بن رزين السرقسطي (ت 535 هـ) في كتابه «التجريد في الجمع بين الصحاح»، وابن الأثير أبو السعادات مبارك بن محمد الجزري المتوفى (ت 606 هـ)، ومن المعروف أن علماء المغرب يقدمون كتاب الموطأ على بعض الصحاح.
        </p>
      </div>
    </div>
  </div>
<div class="container">   

    <h3 class="text-center">  الرواة الاشهر</h3>
    <table class="table table-striped table-bordered text-right">
        <thead class="text-center">
          <tr>
            <th>الراوي</th>
            <th>سنه الميلاد</th>
            <th>سنه الوفاه</th>
            <th>عدد الاحاديث</th>

          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td><a href="{% url 'Hadiths:Bukhari' %}">البخاري</a></td>
            <td>810 م</td>
            <td>870 م</td>
            <td> 7397 حديثًا</td>
           

          </tr>
          <tr>
            <td><a href="{% url 'Hadiths:Muslim' %}">مسلم</a></td>
            <td>822 م</td>
            <td>875 م</td>
            <td> 4000 حديثًا</td>
          </tr>
          <tr>
            <td><a href="{% url 'Hadiths:Tirmidhi' %}">الترمذي</a></td>
            <td>824 م</td>
            <td>892 م </td>
            <td> 3956 حديثًا</td>
          </tr>
          <tr>
            <td><a href="#">النسائي</a></td>
            <td>830 م</td>
            <td>915 م </td>
            <td> 5700 حديثًا</td>
          </tr>
          <tr>
            <td><a href="#">أبي داود</a></td>
            <td>817 م</td>
            <td>888 م </td>
            <td> 4800 حديثًا</td>
          </tr>
          <tr>
            <td><a href="#">ابن ماجه</a></td>
            <td>824 م</td>
            <td>886 م </td>
            <td> 4340 حديثًا</td>
          </tr>
        </tbody>
      </table>
      <h6 class="text-right text-muted" style="font-size: 12px">جميع السنون تقريبا </h6>
</div>

    {% endblock %}